@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Montserrat:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}

body {
  background-color: #0a0a0a;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  background-color: rgba(10, 10, 10, 0.8); 
  backdrop-filter: blur(8px);
  /* -webkit-backdrop-filter: blur(8px);  */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 1000;
}

 .navbar:hover {
    /* border-color: #fff; */
    box-shadow: 0 0 12px 2px rgba(255,255,255,0.7);
    transition: box-shadow 0.2s, border-color 0.2s;
  }

.nav-elements{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 56px;
  height: 40px;
}

.nav-page {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-page li {
  display: inline-block;
  margin: 0 15px;
}

.nav-page li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-page li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.nav-page button a{
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-page button{
  background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
  width: 100px;
  height: 33px;
  border: none;
  border-radius: 10px;
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
}

.nav-page button:hover {
  transform: scale(1.05);
}

.nav-page button:hover a {
  color: rgb(247, 20, 35);
}
/* ================================= */



/* HERO SECTION */
.hero-section{
  position: relative;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background: radial-gradient(circle at center, rgba(143, 0, 255, 0.08), #0a0a0a);
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  padding: 0 5%;
}

.hero::before {
  content: "";
  position: absolute;
  inset: -200px;
  background: radial-gradient(circle at 60% 40%, rgba(143, 0, 255, 0.2) 0%, transparent 70%);
  filter: blur(150px);
  z-index: 0;
}

.hero-text {
  position: relative;
  z-index: 2;
  flex: 1;
}

.backdrop-title{
  position: absolute;
  top: 20%;
  font-size: clamp(120px, 25vw, 480px);
  font-family: 'Orbitron', sans-serif;
  color: transparent; 
  -webkit-text-stroke: 4px rgb(84, 83, 83);
  opacity: 0.8;
  z-index: 0;
}

.zenith-title {
  position: relative;
  top: 10vw;
  font-family: 'Orbitron', sans-serif;
  font-size: clamp(100px, 20vw, 220px);
  font-weight: 900;
  color: #ffffff;
}
.hero-details{
  margin-top: 10%;
}
.sub {
  position: relative;
  font-size: clamp(16px, 1.4vw, 22px);
  color: #ffffff;
  font-weight: 700;
}

.sub span {
  color: #aaff00;
}

.desc {
  position: relative;
  font-size: clamp(14px, 1.2vw, 20px);
  margin-top: 5px;
  color: #d4d4d4;
}

.discover {
  position: relative; 
  margin-top: 2%; 
  padding: 15px 35px;
  border: 1px solid #aaff00;
  background: transparent;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
}

.discover:hover {
  background: #aaff00;
  color: #000;
  box-shadow: 0 0 20px #aaff00;
}

.go_down{
  position: absolute;
  left: 50vw;
  bottom: 2%;
  animation: up-down 2s ease-out infinite alternate;
}

@keyframes up-down {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(30%);
  }
}

/* == HERO IMAGE == */
.hero-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: clamp(500px, 48vw, 900px); /* Bigger + responsive scaling */
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 2;
}
.contact-btn {
  position: absolute;
  top: 15%;
  right: 15%;
  border: 1px solid #8bff00;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 11;
}
.side-char-title{
  position: absolute;
  top:10%;
  left: 10%;
  font-size: clamp(16px, 1vw + 10px, 36px);
  text-shadow: 0 0 10px rgba(255, 200, 100, 0.3);
  color: #574A3A;
  letter-spacing: 2px;
  z-index: 2;
}
.contact-btn:hover {
  background: #8bff00;
  color: #000;
}

.hero-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0 0 60px rgba(143, 0, 255, 0.6));
}

.agent-name {
  position: absolute;
  bottom: -30px;
  right: 5%;
  font-size: clamp(80px, 10vw, 150px);
  font-family: 'Orbitron', sans-serif;
  color: transparent;
  -webkit-text-stroke: 2px #b3b3b3;
  opacity: 0.8;
  z-index: 10;
}

.hero-text, .hero-img {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1s ease forwards;
}
.hero-img {
  animation-delay: 0.3s;
  z-index: 10;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*  == News page == */
.news-rectangle{
  position: relative;
  background-color: #0a0a0a;
  width: 100%;
  height: auto;
}
.news-heading{
  display: flex;
  justify-content: space-between;
  margin: 2%;
}
.news-title{
  font-size: clamp(16px, 1vw + 10px, 36px);
  font-family: 'Orbitron', sans-serif;
}

.nav-to-news{
  color: #b3b3b3;
}

.nav-to-news:hover{
  opacity: 0.8;
  text-decoration: underline;
}

.news-list{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 2%;
}

.news-card {
  background-color: #0a0a0a;
  border-radius: 12px;
  overflow: hidden;
  width: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.news-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.news-content{
  padding: 2%;
  display: flex;
  justify-content: space-between;
  max-width: 50%;
}
.news-status{
  color: rgb(255, 70, 85);
}
.news-date{
  color: white;
}

.news-meta span {
  color: #ff4655;
}

.news-title-card {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 6px;
}
.news-details{
  font-size: clamp(12px, 1.5vw, 18px);
  color: white;
  font-weight: bold;
}

.news-desc {
  font-size: clamp(12px, 1.5vw, 18px);;
  color: #ccc;
  line-height: 1.4;
  margin: 2%;
}

.news-card:hover img {
  transform: scale(1.1); /* zooms slightly */
}



/* == Agent section ==  */
.agent-section {
  display: flex;
  justify-content: space-between;
  background: #e54e4e;
  padding: 80px 10%;
  flex-wrap: wrap;
  overflow: visible;
}

.agent-content {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  z-index: 2;
}

.title {
  font-size: clamp(22px, 2.5vw + 10px, 40px);
  font-weight: 900;
  color: #fff;
  margin-bottom: 25px;
  line-height: 1.2;
  font-family: 'Orbitron', sans-serif;
}

.details {
  font-size: clamp(14px, 1vw + 6px, 18px);
  line-height: 1.6;
  color: #fff;
  opacity: 0.9;
  margin-bottom: 40px;
}

.btn{
  background: #111;
  color: #fff;
  padding: 15px 35px;
  border-radius: 6px;
  font-weight: 700;
  text-decoration: none;
  font-size: clamp(14px, 1vw + 6px, 20px);
  display: inline-block;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #fff;
  color: #111;
  transform: translateY(-3px);
}

.agent-img{
  position: absolute;
  right: 8%;
  z-index: 1;
}

.agent-img img{
  width: clamp(400px, 45vw, 750px);
  filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.3));
  transform: translateY(-20%);
  pointer-events: none; 
}
@media (max-width: 900px) {
  .agent-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 5%;
  }

  .agent-img img {
    top: 20px;
    width: clamp(250px, 70vw, 500px);
  }

  .agent-content {
    order: 2;
    margin-top: 40px;
  }
}
/* == maps section ==  */
.maps-section{
  display: flex;
  background-color: #0A0A0A;
  width: 100vw;
  height: 640px;
  position: relative;
  top: 45px;
  justify-content: space-between;
  padding: 10px;
}
.blury-img{
  position: relative;
  top: 20%;
  left: 10%;
  width: 505px;
  height: 505px;
  filter: blur(8px);
  
}

.map-img{
  position: relative;
  transform: translateY(-350px);
  left: 15%;
  width: 432px;
  height: 432px;
}

.map-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  margin-left: 150px;
}

.map-title{
  font-size: 3rem;
}

.map-details{
  font-size: 28px;
}

.map-content a{
  display: inline-block;
  background: #0F1923;
  color: white;
  font-weight: 700;
  width: 30%;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  transition: 0.3s ease;
}

.map-content a:hover {
  background: white;
  color: #0F1923;
}

/* == banner == */
.zenith-banner {
  display: block;
  width: 100%;
  height: 350px;
  margin-top: 100px;
  object-fit: cover;
  position: relative;
  bottom: 0;
}


/* RESPONSIVE */
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
  }

  .backdrop-title {
    top: 5%;
    left: 0;
    text-align: center;
  }

  .contact-btn {
    top: 10%;
    right: 10%;
  }
  .hero-img {
    position: relative;
    width: 80vw;
    margin: 0 auto;
  }

  .side-char-title {
    top: 10%;
    left: 5%;
    font-size: clamp(18px, 4vw, 28px);
  }
}