/* .icon {
  width: 32px;
  height: 32px;
  filter: drop-shadow(0 0 6px cyan);
  transition: 0.3s;
}

.icon:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px magenta);
} */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Montserrat:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #0a0a0a;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  background-color: rgba(10, 10, 10, 0.8); 
  backdrop-filter: blur(8px);
  /* -webkit-backdrop-filter: blur(8px);  */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 1000;
}

 .navbar:hover {
    /* border-color: #fff; */
    box-shadow: 0 0 12px 2px rgba(255,255,255,0.7);
    transition: box-shadow 0.2s, border-color 0.2s;
  }

.nav-elements{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 56px;
  height: 40px;
}

.nav-page {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-page li {
  display: inline-block;
  margin: 0 15px;
}

.nav-page li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-page li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.nav-page button a{
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-page button{
  background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
  width: 100px;
  height: 33px;
  border: none;
  border-radius: 10px;
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
}

.nav-page button:hover {
  transform: scale(1.05);
}

.nav-page button:hover a {
  color: rgb(247, 20, 35);
}
/* ================================= */



/* HERO SECTION */
.hero-section{
  position: relative;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background: radial-gradient(circle at center, rgba(143, 0, 255, 0.08), #0a0a0a);
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 8%;
  z-index: 2;
}

.hero::before {
  content: "";
  position: absolute;
  inset: -200px;
  background: radial-gradient(circle at 60% 40%, rgba(143, 0, 255, 0.2) 0%, transparent 70%);
  filter: blur(150px);
  z-index: 0;
}

.hero-text {
  position: relative;
  z-index: 2;
  flex: 1;
}

.backdrop-title{
  position: absolute;
  top:200px;
  font-size: 450px;
  font-family: 'Orbitron', sans-serif;
  color: transparent; 
  -webkit-text-stroke: 4px rgb(84, 83, 83);
}

.zenith-title {
  position: relative;
  top: 10vw;
  font-family: 'Orbitron', sans-serif;
  font-size: clamp(100px, 20vw, 220px);
  font-weight: 900;
  color: #ffffff;
}
.hero-details{
  /* margin-top: 10%; */
}
.sub {
  position: relative;
  font-size: clamp(16px, 1.4vw, 22px);
  color: #ffffff;
  font-weight: 700;
}

.sub span {
  color: #aaff00;
}

.desc {
  position: relative;
  font-size: clamp(14px, 1.2vw, 20px);
  margin-top: 5px;
  color: #d4d4d4;
}

.discover {
  position: relative; 
  margin-top: 2%; 
  padding: 15px 35px;
  border: 1px solid #aaff00;
  background: transparent;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.discover:hover {
  background: #aaff00;
  color: #000;
  box-shadow: 0 0 20px #aaff00;
}

/* HERO IMAGE */
.hero-img {
  position: absolute;
  right: 15%;
  width: 40%; 
  min-width: 300px;
  display: flex;
}
.contact-btn {
  position: absolute;
  top: 15%;
  right: 15%;
  border: 1px solid #8bff00;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 11;
}
.side-char-title{
  position: absolute;
  top:10%;
  left: 10%;
  font-size: clamp(16px, 1vw + 10px, 36px);
  text-shadow: 0 0 10px rgba(255, 200, 100, 0.3);
  color: #574A3A;
  letter-spacing: 2px;
  z-index: 2;
}
.contact-btn:hover {
  background: #8bff00;
  color: #000;
}

.hero-img img {
  width: 100%;
  height: auto;
  display: block;
  filter: drop-shadow(0 0 40px rgba(143, 0, 255, 0.6));
}

.agent-name {
  position: absolute;
  right: 40px;
  bottom: -40px;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.1);
  font-weight: 300;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 3px;
  position: absolute;
  top: 700px;
  right: 5%;
  font-size: 150px;
  color: transparent; 
  -webkit-text-stroke: 2px #b3b3b3; 
  z-index: 1;
}


/* News page */
.news-rectangle{
  background-color: #0a0a0a;
  width: 100%;
  height: 95%;
  position: absolute;
  top: 1000px;
  z-index: 12;
}

.news-title{
  font-size: 48px;
  font-family: 'Orbitron', sans-serif;
  position:absolute;
  top: 54px;
  left: 141px;
}

.nav-to-news{
  position: absolute;
  top: 98px;
  right: 10%;
  /* z-index: 10; */
  color: #b3b3b3 !important;
}

.nav-to-news>a{
  color: #b3b3b3;
}

.nav-to-news>a:hover{
  opacity: 0.8;
  text-decoration: underline;
}

/* === NEWS PAGE LIST === */
.new-page-list {
  position: absolute;
  top: 1200px; /* below your news-rectangle */
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  z-index: 20;
}

.news-card {
  background-color: #0a0a0a;
  border-radius: 12px;
  overflow: hidden;
  width: 32%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.news-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.news-content {
  padding: 20px;
  background-color: #0a0a0a;
}

.news-meta {
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.news-meta span {
  color: #ff4655;
}

.news-title-card {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 6px;
}

.news-desc {
  font-size: 15px;
  color: #ccc;
  line-height: 1.4;
}

.news-card:hover img {
  transform: scale(1.1); /* zooms slightly */
}

/* == Agent section ==  */
.agent-section {
  position: relative;
  width: 100vw;
  min-height: 640px;
  top: 800px;
  background-color: #FF4655;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
}

.agent-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: white;
  z-index: 20; 
}

.agent-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;

}

.agent-details {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 100;
}

.agent-content a {
  display: inline-block;
  background: #0F1923;
  color: white;
  font-weight: 700;
  width: 30%;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  transition: 0.3s ease;
}

.agent-content a:hover {
  background: white;
  color: #0F1923;
}

/* == maps section ==  */
.maps-section{
  display: flex;
  background-color: #0A0A0A;
  width: 100vw;
  height: 640px;
  position: relative;
  top: 45px;
  justify-content: space-between;
  padding: 10px;
}
.blury-img{
  position: relative;
  top: 20%;
  left: 10%;
  width: 505px;
  height: 505px;
  filter: blur(8px);
  
}

.map-img{
  position: relative;
  transform: translateY(-350px);
  left: 15%;
  width: 432px;
  height: 432px;
}

.map-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  margin-left: 150px;
}

.map-title{
  font-size: 3rem;
}

.map-details{
  font-size: 28px;
}

.map-content a{
  display: inline-block;
  background: #0F1923;
  color: white;
  font-weight: 700;
  width: 30%;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  transition: 0.3s ease;
}

.map-content a:hover {
  background: white;
  color: #0F1923;
}

/* == banner == */
.zenith-banner{
  position: relative;
  width: 100vw;
  height: 470px;
  margin-top: 100px;
}

@media (max-width:1024) {
  
}