@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Montserrat:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}

body {
  background-color: #0a0a0a;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
  background: rgba(255, 255, 255, 0.06);  
  border-radius: 20px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* padding: 10px 20px; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 1000;
  transition: 0.3s ease;
}
.navbar:hover {
  backdrop-filter: blur(25px);
  border-color: rgba(255, 255, 255, 0.3);
}

.nav-elements{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 56px;
  height: 40px;
}

.nav-page {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-page li {
  display: inline-block;
  margin: 0 15px;
}

.nav-page li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-page li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.nav-page button a{
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-page button{
  background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
  width: 100px;
  height: 33px;
  border: none;
  border-radius: 10px;
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
}

.nav-page button:hover {
  transform: scale(1.05);
}

.nav-page button:hover a {
  color: rgb(247, 20, 35);
}
/* == AGENT SECTION == */

.agent-header {
    display: flex;
    justify-content: center;
    padding: 70px 6%;
}
.agent-header h1 {
    font-size: 7rem;
    color: white;
    letter-spacing: 3px;
    font-weight: 800;
}
/* .agent-subtext {
    max-width: 550px;
    margin-top: 15px;
    color: #aaaaaa;
    line-height: 1.5;
} */

.agent-heading {
    font-size: 5rem;
    font-weight: 800;
    background: linear-gradient(90deg, #ffffff 0%, #d3d3d3 35%, #8a8a8a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.95;
    letter-spacing: 3px;
}

.agent-divider {
    width: 100%;
    height: 2px;
    background: linear-gradient(
        to right,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
    );
    margin: 25px 0 40px 0;
}

.agent-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 50px;
}

.agent-section .agent:nth-child(even) {
  flex-direction: row-reverse;
}

.agent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  width: 70%;
  padding: 40px;
  border: 2px solid rgba(255, 0, 50, 0.5);
  border-radius: 20px;
  background: rgba(20, 20, 20, 0.35);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(255, 0, 60, 0.4);
  transition: 0.3s ease;
}

#vira{
  border: 2px solid rgba(4, 88, 134);
  box-shadow: 0 0 25px rgba(4, 88, 134);
}

#kael{
  border: 2px solid rgba(110, 53, 168);
  box-shadow: 0 0 25px rgba(110, 53, 168);
}

#liora{
  border: 2px solid rgba(60, 141, 191);
  box-shadow: 0 0 25px rgba(60, 141, 191);
}

#elara{
  border: 2px solid rgba(132, 173, 123);
  box-shadow: 0 0 25px rgba(132, 173, 123);
}

.agent:hover {
  transform: translateY(-5px);
}

.agent-img {
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.agent-img:hover {
  transform: scale(1.05);
}

.agent-content {
  max-width: 500px;
  text-align: left;
}

.agent-name {
  color: #ff3838;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.role {
  color: #ccc;
  margin-bottom: 12px;
}

.abilities {
  padding: 10px;
}

.abilities p {
  margin: 10px 0;
  line-height: 1.5;
  color: #eee;
}


/* ===========================
   MOBILE
=========================== */
@media (max-width: 1145px) {
  .agent {
    flex-direction: column !important;
    width: 90%;
    padding: 25px;
  }

  .agent-img {
    width: 260px;
    height: auto;
  }

  .agent-content {
    text-align: center;
  }
}

.glitch-text {
  position: relative;
  width: fit-content;
  margin: 80px auto;
  font-size: 2.3rem;
  font-weight: 700;
  color:  #ff3b58;
  letter-spacing: 2px;
  animation: glitch-scan 2.5s infinite linear;
}

/* Red offset */
.glitch-text::before,
.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  opacity: 0.8;
}

/* Cyan glitch */
.glitch-text::before {
  color: #00faff;
  animation: glitch-layer-1 2.5s infinite linear;
  z-index: -1;
}

/* Magenta glitch */
.glitch-text::after {
  color: #ff00c8;
  animation: glitch-layer-2 2.5s infinite linear;
  z-index: -1;
}

/* Main scan effect */
@keyframes glitch-scan {
  0% { text-shadow: 0 0 0px #ff3b58; }
  15% { text-shadow: 0 0 8px #ff3b58; }
  30% { text-shadow: 0 0 2px #ff3b58; }
  50% { text-shadow: 0 0 10px #ff3b58; }
  100% { text-shadow: 0 0 0px #ff3b58; }
}

@keyframes glitch-layer-1 {
  0% { clip-path: inset(0 0 90% 0); transform: translate(-2px, -1px); }
  20% { clip-path: inset(10% 0 60% 0); transform: translate(1px, 1px); }
  40% { clip-path: inset(40% 0 20% 0); transform: translate(2px, -1px); }
  60% { clip-path: inset(80% 0 0 0); transform: translate(-1px, 2px); }
  80% { clip-path: inset(30% 0 40% 0); transform: translate(0px, -1px); }
  100% { clip-path: inset(0 0 90% 0); transform: translate(0,0); }
}

@keyframes glitch-layer-2 {
  0% { clip-path: inset(80% 0 0 0); transform: translate(2px, 0px); }
  20% { clip-path: inset(0 0 70% 0); transform: translate(-1px, -1px); }
  40% { clip-path: inset(20% 0 40% 0); transform: translate(-2px, 1px); }
  60% { clip-path: inset(50% 0 10% 0); transform: translate(1px, 0px); }
  80% { clip-path: inset(10% 0 60% 0); transform: translate(0px, 1px); }
  100% { clip-path: inset(80% 0 0 0); transform: translate(0); }
}


/* == footer == */
.footer-banner-img {
  width: 100%;
  height: 280px; 
  position: relative;
  overflow: hidden;
}

.footer-banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  filter: brightness(0.8) contrast(1.2);

}

.footer-main {
  background: #0a0a0a;
  padding: 50px 10vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-main h3, .footer-main h4 {
  color: #fff;
  text-shadow: 0 0 10px #ff3b58;
}

.footer-main p, .footer-main li {
  color: #bbb;
  margin-top: 10px;
}

.footer-bottom {
  text-align: center;
  padding: 15px 0;
  background: #050505;
  color: #777;
  font-size: 0.9rem;
  border-top: 1px solid rgba(255,255,255,0.05);
}

.footer-main ul li a {
  color: #bbb;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-main ul li a:hover {
  color: #ff3b58;         
  text-shadow: 0 0 8px #ff3b58;
}



